.hero,
.cta {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include media("<=phone") {
    padding: 2rem;
  }

  &__title {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 1rem;

    @include media("<=phone") {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }

  &__text {
    font-size: 2.8rem;
    line-height: 130%;
    text-align: center;

    @include media("<=phone") {
      font-size: 2rem;
    }
  }
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &.first {
    padding-top: 5rem;
  }

  @include media("<=phone") {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.hero {
  // @include bg(hero-bg, #19439fc9, rgba(50, 104, 220, 0.747));
  color: $light;
}
.cta {
  @include bg(hero-bg, #ffffffc7, #ffffffc7);
  color: $dark;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;

  &--center {
    @extend .wrapper;
    text-align: center;
  }
}
.features,
.specs {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<=phone") {
      flex-wrap: wrap;
    }
  }
}

.shop {
  border-top: 1px solid #ededed;
  h2 {
    font-family: $ruda;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $gutter;
  }
}

.contact {
  .wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    line-height: 1em;
    color: $dark;
    text-transform: uppercase;
  }
}
