footer {
  border-top: 10px solid $dark;
  padding: 3rem 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}

.footer__widget {
  @include grid4;
  // width: calc((100% - $gutter) / 3);
  color: $dark;

  .footer__title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.2rem;
    text-transform: uppercase;
  }

  i {
    font-size: 3rem;
    margin-right: 1rem;
  }

  p,
  a {
    font-size: 1.4rem;
    line-height: 2.2rem;
    transition: ease-in-out 250ms;
  }

  .phone {
    font-size: 1.5rem;
    margin-right: 0.4rem;
  }

  a:hover {
    color: $primary;
  }
}
