/*Header */
header {
  background-color: $dark;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  line-height: 0;

  img {
    height: 6rem;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    height: 6rem;
    padding: 2rem 2rem;
    list-style: none;
    font-size: 1.7rem;
    color: #ffffff;
    letter-spacing: 0.05rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all ease-in-out 300ms;
    cursor: pointer;

    &:hover {
      background-color: $primary;
    }
  }
}
